{% extends 'dashboard_view.html' %}

{% block content %}

<section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"> Data Table</h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tile">
                        <div class="tile-body">

                            <div class="box box-info">
                                <div class="box-header with-border"> </div>

                                <div class="tile-body" style="margin-bottom: 3em">
              <form method="GET">
                {%csrf_token%}
                <input
                  style="border: 1px; border-style: solid"
                  name="search"
                  class="app-search__input"
                  type="search"
                  placeholder="Search"
                />
                <input type="submit" value="Search" />
                {% comment %}
                <div class="btn btn-primary">
                  <i class="fa fa-search"></i>
                </div>
                {% endcomment %}
              </form>
                                <!-- /.row -->
                                <br><br><br>

<a style="color: white"; href="{% url 'events_add' %}"><button class="btn btn-success" type="submit" style="float:right; ">
    <i class="fa fa-fw fa-lg fa-plus"></i>Add New</button></a></div>
     <br><br>
            <!-- /.box-header -->
            <div class="box-body">

              <table id="example2" class="table table-bordered table-hover"><thead></thead>
    <tr>
        <th>#</th>
                                                <th>Title</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Location</th>
                                                <th>Description</th>
                                                <th>Image</th>
                                                <th>Category</th>
                                                <th>Published</th>
                                                <th>Paid</th>
                                                <th>Like</th>


    </tr></thead><tbody>
    {% for i in events %}






                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ i.title }}</td>


                                                <td>{{ i.startdate }}</td>
                                                <td>{{ i.endDate }}</td>
                                                <td>{{ i.location }}</td>
                                                 <td>{{ i.description }}</td>
                                        <td><img  src=" {% if i.image %}{{ i.image.url }} {% endif %}"   width="200px" class="img-circle" alt="User Image"></td>
                                                <td>{{ i.category }}</td>



                <td>  <form method="POST">{% csrf_token %} <input type="number" name="published_id" value="{{ i.id }}" hidden>
                    <button type="submit" name="published_id" value="{{ i.id }}" {% if i.published == True %} class="btn btn-danger btn-sm" {% else %} class="btn btn-success btn-sm"  {% endif %} >
                                                  {% if i.published == True %}
                                                    Not Published
                                                  {% else %}
                                                    Published
                                                  {% endif %}
                    </button></form>
                </td>
                                                <td>  <form method="POST">{% csrf_token %} <input type="number" name="paid_id" value="{{ i.id }}" hidden>
                    <button type="submit" name="paid_id" value="{{ i.id }}" {% if i.paid == True %}class="btn btn-danger btn-sm" {% else %} class="btn btn-success btn-sm"  {% endif %} >
                                                  {% if i.paid == True %}
                                                    Not Paid
                                                  {% else %}
                                                    Paid
                                                  {% endif %}
                                              </button>
                                                </form></td>
                                           <td>  <form method="POST">{% csrf_token %} <input type="number" name="like_id" value="{{ i.id }}" hidden>
                    <button type="submit" name="like_id" value="{{ i.id }}" {% if i.like == True %}class="btn btn-danger btn-sm" {% else %} class="btn btn-success btn-sm"  {% endif %} >
                                                  {% if i.like == True %}
                                                    Unlike
                                                  {% else %}
                                                    Like
                                                  {% endif %}
                                              </button>
                                           </form></td>

                                            </tr>

                  {% endfor %}
                  </tbody>
                                    </table>

                              <div><label>Total Records :</label>{{ count }}</div>
            {% if key %}
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                {% if key.has_previous %}
                <li class="page-item">
                  <a
                    class="page-link"
                    href="?page={{ key.previous_page_number }}"
                    tabindex="-1"
                    >Previous</a
                  >
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}
                <li class="page-item active">
                  <span class="page-link">
                    Page {{ key.number }}
                    <span class="sr-only"
                      >of {{ key.paginator.num_pages }} .</span
                    >
                  </span>
                </li>
                {% if key.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ key.next_page_number }}"
                    >Next</a
                  >
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">Next</a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>







            </div>
          </div>
        </div>
      </div>
          </div>
        </div>
      </div>
      </div>
</section>


{% endblock %}
